body, html {
  margin: 0;
}

body {
  background: #eee;
}

.gameWrapper {
  margin: 0 auto;
  width: 725px;
}

.pointsWrapper {
  font-size: 2em;
}

.boardWrapper {
  height: 805px;
  margin: 0 auto;
  width: 725px;
}

.canvas {
  background: #fff;
  height: 100%;
  width: 100%;
}

.overImg {
  margin-top: -20px;
  width: 100%;
}

div.resultsList {
  padding-bottom: 10px;
}

table.resultsList {
  float: left;
  margin: 0 1%;
  table-layout: fixed;
  width: 48%;
  .highlight {
    background-color: #efe;
    color: green;
  }
  td {
    border-top: 1px solid #ccc;
  }
  td, th {
    padding: 2px 7px;
  }
  .NOColumn {
    border-right: 1px solid #ccc;
    width: 20%;
  }
  .userColumn {
    overflow: hidden;
    text-align: right;
  }
}
